pipeline/14 ADF StartingLogs capture.json
{
	"name": "14 ADF StartingLogs capture",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[Project].[uspStartLogProcedure]",
						"storedProcedureParameters": {
							"ADFName": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"RunId": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStart": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable3",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "3 Area calculation",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "End Sucssess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Project].[uspEndLogProcedure]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": {
								"value": "@variables('Success')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_service_july_24_sqlserver",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Project].[uspEndLogProcedure]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Execute Pipeline1').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"id": {
							"value": {
								"value": "@activity('Lookup1').output.value[0].id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Status": {
							"value": {
								"value": "@variables('Fail')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_service_july_24_sqlserver",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"Success": {
				"type": "String",
				"defaultValue": "Success"
			},
			"Fail": {
				"type": "String",
				"defaultValue": "Fail"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-23T15:03:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}