pipeline/14 Incremental Load Implementation.json
{
	"name": "14 Incremental Load Implementation",
	"properties": {
		"activities": [
			{
				"name": "Watermark Date Time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select WatermarkDateTime from Project.WatermarkTable\nwhere tablename='Products'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_WatermarkTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Migration of  incremental data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Watermark Date Time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Max_ModifiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from Project.Products Where ModifiedDate >''',activity('Watermark Date Time').output.firstRow.watermarkDateTime,'''and ModifiedDate <=''', activity('Max_ModifiedDate').output.firstRow.Max_ModifiedDate,'''' )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table project.products",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_OnPreme_ProductsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Cloud_ProductsTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Max_ModifiedDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(ModifiedDate ) Max_ModifiedDate  from Project.products",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_OnPreme_ProductsTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "WaterMark Table update",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Migration of  incremental data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "link_service_july_24_sqlserver",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('update Project.WatermarkTable set\nWatermarkDateTime =''',activity('Max_ModifiedDate').output.firstRow.Max_ModifiedDate,''' where TableName= ''','Products','''')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-14T18:44:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}