pipeline/8 1Paramiterized Area calculation.json
{
	"name": "8 1Paramiterized Area calculation",
	"properties": {
		"activities": [
			{
				"name": "Set length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Length",
					"value": {
						"value": "@pipeline().parameters.param_length",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set breadth",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Breadth",
					"value": {
						"value": "@pipeline().parameters.param_breadth",
						"type": "Expression"
					}
				}
			},
			{
				"name": "calculation of area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Area",
					"value": {
						"value": "@mul(variables('Length'),variables('Breadth'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"param_length": {
				"type": "int"
			},
			"param_breadth": {
				"type": "int"
			}
		},
		"variables": {
			"Length": {
				"type": "Integer"
			},
			"Breadth": {
				"type": "Integer"
			},
			"Area": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-08-08T01:05:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}